@font-face {
    font-family: PermanentMarker-Regular;
    src: url('PermanentMarker-Regular.ttf');
}

#categoryId{

    border: none;
    background-color: black;
}
#foods{
    display: flex;

}

#cart button{
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 80px;
    background-color: rgb(253, 200, 52);

    
}

@keyframes cart{
    from {transform:rotateX(0deg);}
    to {transform:rotateX(360deg);}

}

#cart button:hover{
    background-color: rgb(184, 143, 31);

}

#cart button:hover img{
    animation-name: cart;
    animation-duration: 0.8s;
    animation-iteration-count: 1;   

}

#cart img{
    width: 100px;
    height: 100px;
}

#cart{
    background-color: rgb(253, 200, 52);
    padding: 1%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart h1{
    font-family: PermanentMarker-Regular;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
}

#shoppingList{
    border: 1px solid black;
    background-color: rgba(253, 200, 52, 0.8);
    float: right;
    width: 20%;
    min-height: 135.5vh;
    display: none;
    padding: 1%;
}



#categories{
    text-align: center;
    list-style-type: none;
    margin-top: 5%;
    font-family: PermanentMarker-Regular;
    font-size: 2rem;
    line-height: 700%;
    color: white;
    padding-right: 2rem;

}

#container1{
    background-color: black;
}


#hr{
    width: 80%;
    border: 2px solid rgba(0, 0, 0, 1);   
    color: rgba(0, 0, 0, 1);
    opacity: 1;
    margin: auto;
    margin-top: 4%;
}

#foodsLi:hover{
    background-color: rgba(253, 200, 52, 0.8);
    transition-delay: 0.2s;
}

#foodsLi:hover #categoryId{
    background-color: rgba(253, 200, 52, 0);
    transition-delay: 0.2s;
}

#up{
    border: solid 3px black;
    background-color: rgb(253, 200, 52);
    float: right;
    width: 40px;
    height: 50px;
    border-radius: 12px;
    margin-right: 2%;
    margin-bottom: 2%;
    font-weight: bolder;
}


