@font-face {
    font-family: PermanentMarker-Regular;
    src: url('PermanentMarker-Regular.ttf');
}

#logo{
    width: 200px;
    height: 200px;
    margin-left: 19%;   
    animation-name: logoanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#nav{
    background-color: rgb(253, 200, 52);

}

#jobb{
    float: right;
}

ul{
    display: inline;
    list-style-type: none;

    
}



#contacts{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 3.5%;
    margin-right: 2%;

}

#insta{
    width: 100px;
    height: 100px;
}



@keyframes logoanimation{
    from {transform:rotateZ(0deg);}
    to {transform:rotateZ(360deg);}

}

#welcome{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 70%;
    padding: 3%;
    margin-top: -50%;
    border: 1px solid white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    line-height: 3;
    font-weight: bold;
    position: relative;
    border-left: none;

}

#rendelOption1{
    font-family: PermanentMarker-Regular;
    font-size: 1.8rem;
    display: inline;
    color: white;
    background-color: black;
    padding: 1.5%;
    border: 1px black solid;
    border-radius: 15px;
    width: 10%;
    float: left;
    margin-top: 3.25%;
    margin-left: 2%;
}

#rendelOption2{
    font-family: PermanentMarker-Regular;
    font-size: 1.8rem;
    display: inline;
    color: white;
    background-color: black;
    padding: 0.5%;
    border: 1px black solid;
    border-radius: 15px;
    width: 10%;
    margin-left: 2%;
}

#types{
    background-color: rgba(253, 200, 52, 0.8);
    color: black;
    width: 40%;
    padding: 1%;
    border: 1px solid black;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    line-height: 3;
    font-weight: bold;
    float: right;
    text-align: center;
    margin-top: -4.5%;
    position: relative;
    border-right: none;

}

#types h3{
    font-family: PermanentMarker-Regular;
    font-weight: bolder;
}

#video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

}

#container{
    margin-top: -30%;
}

#phoneNumber{
    display: none;
    font-weight: bolder;
    font-family: PermanentMarker-Regular;
    color: white;
    background-color: black;
    padding: 2%;
    border: 1px solid black;
    border-radius: 12px;
    margin-left: 15%;
}

#map{
    background-color: rgba(255, 255, 255, 0.8);
    width: 70%;
    margin-top: 8%;
    padding: 2%;
    border: 1px solid black;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    line-height: 3;
    font-weight: bold;
    position: relative;
    text-align: center;
    border-left: none;
    margin-bottom: 2%;
}

body{
    background-color: black
}

#mapFrame{
    border: 1px solid black;
    border-radius: 12px;
}

#map h3{
    font-family: PermanentMarker-Regular;
    font-weight: bolder;
    margin-left: 12%;
}

